.grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
}
.grid:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.grid > * {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: medium;
}
.lt-ie8 .grid {
  zoom: expression(this.runtimeStyle.zoom="1", this.appendChild( document.createElement("span") ).style.fontSize="0");
}
.lt-ie8 .grid > * {
  display: inline;
  zoom: 1;
}
.span-1  { width: 5.298013%;  }
.span-2  { width: 13.907285%; }
.span-3  { width: 22.516556%; }
.span-4  { width: 31.125828%; }
.span-5  { width: 39.735099%; }
.span-6  { width: 48.344371%; }
.span-7  { width: 56.953642%; }
.span-8  { width: 65.562914%; }
.span-9  { width: 74.172185%; }
.span-10 { width: 82.781457%; }
.span-11 { width: 91.390728%; }